* {
  box-sizing: border-box;
}
.logo {
  display: block;
  margin: auto;
	height: 115px; 
	width: 115px;
}

.row-container {

}

.row {
  display: flex;
  flex-direction: row wrap;
  justify-content: space-around;
  background-color: #F4f4f4;
  padding-bottom: 150px;
  flex-wrap: wrap;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
}

