
body {
  background-color: #333333;
  font-family: 'Open Sans', Helvetica;
}
form {
  text-align: center;
  padding: 0;
  padding-bottom: 25px;
}
label {
  display: inline-block;
  letter-spacing: 4px;
  padding-top: 15px;
  text-align: center;
}
  .label-text {
    color:  black;
    cursor: text;
    font-size: 20px;
    line-height: 20px;
    text-transform: uppercase;
    transform: (translateY(-34px));
    transition: all 0.3s;
 }   
  input {
    background-color: transparent;
    border: 0;
    border-bottom: 2px solid #736CED ;
    border-right: 2px solid black; 
    color:  #4A4A4A;
    font-size: 36px;
    letter-spacing: -1px;
    outline: 0;
    padding: 5px 20px;
    text-align: center;
    transition: all 0.3s;
    width: 200px;
    }
    input:focus {
      max-width: 100%;
      width: 400px;
    }
      input, .label-text {
        font-size: 13px;
        transform: (translateY(-74px));
      }
    input:valid , .label-text {
      font-size: 13px;
      transform: (translateY(-74px));
      }
button {
  display: block;
  background-color: #333333;
  border: 2px solid #485167 ;
  border-radius: 27px;
  color: white;
  cursor: pointer;
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 100px;
  padding: 15px;
  text-transform: uppercase;
  transition: all 200ms;
  margin: auto;
  }
  button:hover, button:focus {
    background-color: silver;
    color: #333333;
    outline: 0;
}
