 .container {
  float: left;

  padding-left: 1.04166666%;
  padding-right: 1.04166666%;
}
.container {
  height: 410px;
  padding: 0;
  margin: 0;
  background-color:  #F2DFD7;
  border: 1px solid black;
  display: flex; /* or inline-flex */
  flex-direction: column ;
  list-style: none;
  width: 270px;
  border-radius: 10%;
  transition: all .2s ease-in-out;
}
.container:hover,  .container:active {
  height: 580px;
  transform: scale(1.1);
  box-shadow: 10px 10px 5px grey;

  
}
.container:hover .item:nth-child(6) {
  font-size: 12px;
  display: block;
}

.container:hover .item {

  display: none;
}

.container:hover .item:first-child {
  height: 150px;
  display: block;
}
.container:hover .item {
  height: 60%;
}

li:nth-child(6) {
  display: none;
  font-size: 11px;
}
.item {
  display: block;
  font-family: 'Prompt', sans-serif;
  font-weight: 600;
  width: 265px; 
  height: 10%;
  font-size: 14px;
  text-align: center;
}


.item:first-child {
  display: block;
  border: 1px solid #736CED;
  border-radius: 25%;
  height: 160px;
  width: 160px;
  margin: auto;

}

.item:hover {
  font-size: 13px;
}
li:nth-child(4):hover {
  font-size: 11px;
} 









