.row-container {
  display: flex;
  flex-direction: row wrap;
  justify-content: space-around;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
}
.container {
  height: 410px;
  padding: 0;
  margin: 0;
  background-color:  #F2DFD7;
  border: 1px solid black;
  display: flex; /* or inline-flex */
  flex-direction: column ;
  list-style: none;
  width: 270px;
  border-radius: 10%;
  transition: all .2s ease-in-out;
}
.container:hover,  .container:active {
  height: 580px;
  transform: scale(1.1);
  box-shadow: 10px 10px 5px grey;

  
}
.container:hover .item:nth-child(6) {
  font-size: 12px;
  display: block;
}

.container:hover .item {

  display: none;
}

.container:hover .item:first-child {
  height: 150px;
  display: block;
}
.container:hover .item {
  height: 60%;
}

li:nth-child(6) {
  display: none;
  font-size: 11px;
}
.item {
  display: block;
  font-family: 'Prompt', sans-serif;
  font-weight: 600;
  width: 265px; 
  height: 10%;
  font-size: 14px;
  text-align: center;
}


.item:first-child {
  display: block;
  border: 1px solid #736CED;
  border-radius: 25%;
  height: 160px;
  width: 160px;
  margin: auto;

}

.item:hover {
  font-size: 13px;
}
li:nth-child(4):hover {
  font-size: 11px;
} 

@media only screen and (max-width: 820px) {

.card-image {
  width: 150px;
  height: 150px;
  border-radius: 25%;
  margin-bottom: 20px;
  
}
li {
  font-size: 9px;
}
/*
 position: relative;
  left:  50px;
  bottom:  30px;
  display: inline-block;
  height: 100%;
  width: 60%;
*/
.content {
  position: static;

}
.col-12 {
  margin-bottom: 10px;
}
}
@media only screen and (max-width: 540px) {
  .card-image {
  width: 140px;
  height: 140px;
  border-radius: 5%;
  margin-bottom: 10px;
  
}
li {
  font-size: 8px;
}

  }
  @media only screen and (max-width: 470px) { 
    .col-12 {
      height: 300px;


    }
    .card {
      height: 300px;
    }
    li {
      font-size: 9px;
    }
  }
.col-3, .col-4, .col-6, .col-12 {
  float: left;

  /* Gutters:
   * Each column is padded by half-a-gutter on each side,
   *
   * Half a gutter is 10px, 10/960 (context) = 1.041666%
   *
   */
  padding-left: 1.04166666%;
  padding-right: 1.04166666%;
}

/* Mobile defaults */
.col-3, .col-4, .col-6, .col-12 {
  width: 100%;
}


/* Non-mobile, grid */
@media only screen and (min-width: 640px) {
  /* 3 columns, 3/12 in % */
  .col-3 {
    width: 25%;
  }

  /* 4 columns, 4/12 in % */
  .col-4 {
    width: 33.333333%;
  }

  /* 6 columns, 6/12 in % */
  .col-6 {
    width: 50%;
  }

  /* 12 columns, 12/12 in % */
  .col-12 {
    width: 100%;
    height: 220px;
    margin-bottom: 50px;
    
    
}
}