.navbar {
    font-size: 18px;
    background-image: linear-gradient(260deg, #FED766 0%, #a6b1b7   100%);
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding-bottom: 10px;
    margin-bottom: 8px;
}
.main-nav {
    list-style-type: none;
}
.nav-links:first-child,
 {
    text-decoration: none;
    color: black;
}
.nav-header {
	display: inline-block;
	font-size: 22px;
	font-weight: bold;
	 margin-top: 10px;
   margin-left: 20px;
}

.main-nav li {
    text-align: center;
    margin: 15px auto;
    background-color: none;
    border: none;
    color: black;
}
.nav-links,
.logo {
		font-size: 18px;
    text-decoration: underline;
    color: black;
}

    .navbar {
        display: flex;
        justify-content: space-between;
        padding-bottom: 0;
        height: 70px;
        align-items: center;
    }
    .main-nav {
        display: flex;
        margin-right: 30px;
        flex-direction: row;
        justify-content: flex-end;
    }
    .main-nav li {
        margin: 0;
    }
     .nav-links {
        margin-left: 40px;
    }
    .nav-header {
        margin-top: 0;
    }
   .navbar-toggle {
       display: none;
    }
    .logo:hover,
    .nav-links:hover {
        color: rgba(255, 255, 255, 1);
    }
  @media only screen and (max-width: 580px) {
  	.navbar {
  		padding-right: 20px;

  	}
  	.main-nav li {
  		font-size: 14px;
  	}
  }